* 
{
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    background-image: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.section1{
}
body{
}

.section1{
background-color: #ED7D21;
margin-top: 0px;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

#header{
    height: auto; 
    padding: 100px;
}


h3{
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    font-style: 400;
    color: #ffffff;
    text-align: center;
}

.icons{
    width: 50px;
    height: auto;

}

.row{
    width: 300px;
    align: center;
}

#pizza{
    ;
}

.element{
    
}

.row{
    position: top;
}



/* Extra Small Screens */
@media (max-width: 767px) {
    #header{
    height: auto;
    padding: 20px; 
}

    }

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
#header{
    height: auto; 
}
    }

/* Medium Screens */
@media (min-width: 992px) {

}

/* Large Screens */
@media (min-width: 1200px) {

}
