html{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 960px;
    padding: 5px 0;
    margin: 0 auto;
}

.horizontal-navbar {
    list-style: none;
    background-color: #D0D0D0;
    margin: 0px;
    border-bottom: 1px;
}

.horizontal-navbar li {
    float: left;
    background-color: #D0D0D0;

}

.horizontal-navbar li a {
    float: left;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
}

.horizontal-navbar li.item-right {
    float: right;
    border: 1px white solid;
    border-radius: 3px;
    padding: 10px 20px;
    margin-right: 20px;
}

#banner {
    width: 100%;
    text-align: center;
    background-color: #C0C0C0;
    padding-top: 200px;
    padding-bottom: 200px;
}

#features {
    text-align: center;
    background-color: #D0D0D0;
    padding-top: 200px;
    padding-bottom: 200px;
}

.features-container {

}

.featurebox {
    background-color: pink;
    float: left;
    width: 200px;
}

#team {
    background-color: #BEBEBE;
    text-align: center;
    padding: 300px;
}
.imagebox {
    float: left;
    width: 200px;
}

#footer {
    background-color: #303030;
    text-align: center;
    padding: 100px;
}

#contact{
    position: left;
}

#email{
    position: right;
}
